# Base URL for NextAuth
NEXTAUTH_URL="http://localhost:3000"

# Base URL for axios
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# for encoding JSON web tokens
NEXTAUTH_SECRET=""

# for encoding revalidation requests
REVALIDATION_SECRET=""

DB_PATH='./__tests__/__mocks__/db'

CYPRESS_baseUrl = "http://localhost:3000"

# for revalidate endpoint
APP_ENV="test"

# user details
CYPRESS_TEST_USER_EMAIL="test@test.test"
CYPRESS_TEST_PASSWORD="test"